html {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;


    display: flex;
    flex-direction: column;

    justify-items: center;
}

.barra-superior{  
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: #4c84dc;
    gap: 600px;
    top: 0%;
    position: fixed;
    
}

.informacoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.fontHome {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.menu-container {
  display: flex;
  margin-top: 200px;
  margin-left: 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
 
}

.menu-options {
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 90px;
}

.botoes-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 190px;
    width: 360px;
    color: #4c84dc;
    font-size: large;
    border: 2px solid #4c84dc;
    border-radius: 12px;
    border-color: #4c84dc;
    background-color: white;
    text-decoration: none;
    
}

.menu-item {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 25px;
    margin-top: 0px;
}

.container-input {
    height: 800;
    width: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
   
}

.container-input-superior {
 height: 30px;
 width: 800px;
background-color: #f4ecec;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
align-items:center;
display: flex;



}

.container-input-inferior {
    height: 500px;
    width: 800px;
    background-color: #4c84dc;
    border-radius: 12px;
    display:inline-flex;
    align-items: end;
    
    justify-content: center;
    
    
}

.container-input-titulo {
    color: black;
    margin-left: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



.container-input-inferior {
    height: 500px;
    width: 800px;
    background-color: #4c84dc;
    border-radius: 12px;
    display:flex;

}



.container-inferior-column {
    display: flex;
    flex-direction: column;
    height: 300px; /* Altura total da coluna */
    width: 200px;
    justify-content: space-around;
    margin: 11%; 
    align-items: center;

}

.container-inferior-column input  {
    width: 250px; /* Largura dos inputs, ajustável conforme necessidade */
    height: 40px; /* Altura dos inputs */
    font-size: 16px; /* Tamanho da fonte */
  
}

.container-inferior-botoes button  {
    width: 250px; /* Largura dos inputs, ajustável conforme necessidade */
    height: 40px; /* Altura dos inputs */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #146cdc;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;

}






.container-inferior-botoes{
    display: flex;
   align-items: center;
   justify-content: space-between;
  height: 10%;
  width: 250%;
  margin-bottom: 0%;
  gap: 10%;
}


.container-columns{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 300%;
    padding-right: 4%;
    
    margin-bottom: 16%;
    gap: 6%;
}










